    * {
    /* Fjerner alt styling fra alle propeties */
    all: unset;

    /* Går tilbage til browserens egne display typer */
    display: revert;

    /* Sikre at alle elementer er border boxes */
    box-sizing: border-box;
    }

    a{
      cursor: pointer;
    }

    /*Sætter smooth scrolling til, mm at forbrugeren forspørger andet*/
    @media (prefers-reduced-motion: no-preference) {
      html {
        scroll-behavior: smooth;
      }
    }

    body{
      background-color: #F7F7F7;
    }

    section, footer{
        padding-inline: 1.5rem;
        padding-block: 1rem;
    }

    section{
      padding-block:3rem;
    }


    img {
      max-width: 100%
    }

    h1,h2,h3,h4{
      font-family: finalsix, sans-serif;
    }

    h1 {
      font-size: 2.1rem;
      font-weight: bold;
      color: #A77372;

    }

    h2 {
      font-size: 1.4rem;
      font-weight: bold;
      color: #A77372;
      margin-top: 1.5rem;
      margin-bottom: 3rem;
    }

    h3 {
      font-size: 1.125rem;
      font-weight: bold;
      color: #1F1F1F;
      margin-top: 1.5rem;
      margin-bottom: 0.75rem;
    }

    p{
      font-family: noto-sans, sans-serif;
      font-size: 1.125rem;
      color: #1F1F1F;
    }

    .om-mig{
    font-size: 1.125rem;
    font-weight: 700;
    margin-bottom: 2rem;
    margin-top: 2rem;
    }

    .om-mig p,
    .om-mig h4 {
      color: #AA7574;
      margin-top: 1rem;
    }

    .textcenter{
      text-align: center;
    }

    .arrow-placement{
      display: grid;
      justify-content: center;
      margin-top: 3rem;
      margin-bottom: 1.5rem;
      margin-left: 1rem;
      color: #9B907E;
    }

    .arrow-placement a {
      margin-bottom: 0.5rem;
    }

    .link-button{
     background-color: #9B907E;
     padding: 0.5rem 2rem;
     display: inline-block;
     margin-top: 1rem;
     margin-bottom: 1rem;
    }

    .link-button p {
      color: #F7F7F7;
    }

    .linkedin-button{
      background-color: #AA7574;
      margin-bottom: 0;
    }

    .linkedin-button p {
      color: #E9DBD3;
      font-size: 1rem;
    }

    footer{
      background-color: #9B907E;
    }

    footer h2{
      margin-bottom: 0.5rem;
      color: #F7F7F7;
      font-size: 1.125rem;
    }

    footer p{
      color: #F7F7F7;
      font-size: 1.1rem;
    }


    .container{
      max-width: 1200px;
      margin-inline: auto;
    }

    .section-color{
      background-color: #E9DBD3;
    }

    .icon-liste {
      /* Gør der ikke komme "prikker" */
      list-style-type:none;
      display: grid;
      /* En brøkdel af den samlede størrelse */
      grid-template-columns: 1fr 1fr;
      gap:1rem;
      margin-bottom: 1.5rem;
    }

    .eksempel-kasse{
      margin-block: 0rem;
      background-color: #F7F7F7;
      margin-bottom: 1.5rem;
    }

    .eksempel-billede{
      background-position: center;
      aspect-ratio: 1/1;
      background-size: cover;
    }

    .bb-billede{
      background-image: url("img/tinified/bb.png");
    }

    .plakat-billede{
      background-image: url("img/tinified/plakat.png");
    }

    .foto-billede{
      background-image: url("img/tinified/foto.png");
    }

    .pentool-billede{
      background-image: url("img/tinified/pentool.png");
    }

    .eksempel-beskrivelse{
      padding-inline: 1rem;
    }

    .watermark {
      position: relative;
    }

    .watermark::before{
      content: '';
      height: 85%;
      width: 85%;
      position: absolute;
      right: 0;
      bottom: 0;
      z-index: -1;
      opacity: 0.5;
      background-image: url("img/tinified/blomst.png");
      background-size: contain;
      background-repeat: no-repeat;
      background-position: bottom right;
    }

    li{
      list-style-type: none;
    }
    header {
      background-color: #9B907E;
      padding-inline: 2rem;
    }

    header .flex{
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    header .rotated{
      max-width: 120px;
      transform: rotate(30deg);
    }

    .hamburger{
      width: 50px;
      cursor: pointer;
    }

    nav.large-screen ul{
      display: none;
    }

    .hidden {
      display: none;
    }

    nav.small-screen li{
      padding: 1rem 0.5rem;
      font-weight: bold;
      color: #F7F7F7;
      text-align: center;
    }

    @media only screen and (min-width: 768px){
      .eksempel-kasse-box{
        grid-template-columns: 1fr 1fr;
        display: grid;
        gap: 0.5rem;
      }

      .icon-liste{
        grid-template-columns: 1fr 1fr 1fr;
        display: grid;
        gap: 3rem;

      }

      .eksempel-kasse{
        margin-bottom: 0;
      }

      .billede-center{
        display: block;
        margin-inline: auto;
      }

      footer .container {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
      }

    .hamburger{
      display: none;
    }

      nav.large-screen ul{
        display: flex;
        justify-content: space-around;
        align-items: center;
      }

      nav.large-screen ul li{
        margin-left: 4rem;
        color: #F7F7F7;
        font-size: 1.2rem;
      }

      nav.small-screen{
        display: none;
      }

    }

    @media only screen and (min-width: 1024px) {
      .eksempel-kasse-box{
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 1.5rem;
        margin-bottom: 2rem;
      }

    .forside-allignment{
      display: flex;
      align-items: center;
    }

    .forside-allignment .textcenter {
      text-align: left;
      margin-top: 2rem;
    }

    .icon-liste{
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
      margin-top: 4rem;
      margin-left: 6rem;
      margin-right: 6rem;
      padding-bottom: 4rem;
    }

    .forside-allignment img {
      max-width: 45%;
    }

    .om-mig-beholder{
      display: flex;
    }

    .om-mig-beholder img{
      order: 1;
      margin-top: 2rem;
      margin-bottom: 2rem;
      max-width: 50%;
      padding-left: 5rem;
    }

    .om-mig-beskrivelse{
      margin-right: 2rem;
    }


    }
